@import "tailwindcss";

html, body {
  height: 100vh;
  overflow: hidden;
}

:is(p, button) span {
  margin-inline: calc(var(--spacing) * 2);
  padding-inline: calc(var(--spacing) * 2);
  background-color: var(--color-neutral-300);
  border-radius: var(--radius-md);
}
