@import "tailwindcss";

html, body {
  min-height: 100vh;
}

code {
  margin-inline: calc(var(--spacing) * 2);
  padding-inline: calc(var(--spacing) * 2);
  background-color: var(--color-neutral-300);
  border-radius: var(--radius-md);
}

/* :root {
  --vaul-overlay-background: 255, 255, 255;
  --vaul-overlay-background-start: rgba(0, 0, 0, 0);
  --vaul-overlay-background-end: rgba(0, 0, 0, 0.4);
}

html,
body {
  overflow: hidden;
}

body,
main {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}

html {
  background: black;
}

main {
  min-height: 100vh;
  background: white;
}

html {
  height: -webkit-fill-available;
}

a {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

button {
  cursor: pointer;
} */