[data-vaul-drawer] {
  transition-property: transform, border-radius;
  transition-duration: var(--vaul-duration);
  transition-timing-function: var(--vaul-easing);

  touch-action: none;
  position: fixed;
}

[data-vaul-drawer][data-vaul-drawer-dragging="true"] {
  transition-property: none;
  pointer-events: none;
}

[data-vaul-drawer][data-vaul-drawer-dragging="false"] {
  transition-property: transform;
}

[data-vaul-drawer][data-vaul-drawer-side="left"] {
  right: 0;
  top: 0;
  bottom: 0;
  transform-origin: center right;
}

[data-vaul-drawer][data-vaul-drawer-side="left"]::after {
  content: "";
  position: absolute;

  right: calc(100% - 1px);
  top: 0;
  bottom: 0;
  width: 100vw;

  background: inherit;
  background-color: inherit;
}

[data-vaul-drawer][data-vaul-drawer-side="top"] {
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: center bottom;
}

[data-vaul-drawer][data-vaul-drawer-side="top"]::before {
  content: "";
  position: absolute;

  bottom: calc(100% - 1px);
  left: 0;
  right: 0;
  height: 100vw;

  background: inherit;
  background-color: inherit;
}

[data-vaul-drawer][data-vaul-drawer-side="right"] {
  left: 0;
  top: 0;
  bottom: 0;
  transform-origin: center left;
}

[data-vaul-drawer][data-vaul-drawer-side="right"]::after {
  content: "";
  position: absolute;

  left: calc(100% - 1px);
  top: 0;
  bottom: 0;
  width: 100vw;

  background: inherit;
  background-color: inherit;
}

[data-vaul-drawer][data-vaul-drawer-side="bottom"] {
  top: 0;
  left: 0;
  right: 0;
  transform-origin: center top;
}

[data-vaul-drawer][data-vaul-drawer-side="bottom"]::after {
    content: "";
  position: absolute;

  top: calc(100% - 1px);
  left: 0;
  right: 0;
  height: 100vw;

  background: inherit;
  background-color: inherit;
}
