[data-vaul-overlay] {
  transition-duration: var(--vaul-duration);
  transition-timing-function: var(--vaul-easing);
  opacity: 0;
}

body:has([data-vaul-drawer][data-vaul-drawer-dragging="false"]) {
  transition-property: opacity;
}

body:has([data-vaul-drawer][data-vaul-drawer-dragging="true"]) {
  transition-property: none;
}
