[data-vaul-overlay] {
  transition-duration: var(--vaul-duration);
  transition-timing-function: var(--vaul-easing);
  opacity: 0;
}

body:has([data-vaul-drawer][data-vaul-drawer-dragging="false"]) :is([data-vaul-overlay], [data-vaul-drawer]) {
  transition-property: opacity, translate, transform;
}

body:has([data-vaul-drawer][data-vaul-drawer-dragging="true"]) :is([data-vaul-overlay], [data-vaul-drawer]) {
  transition-property: none;
}
