:root {
  --vaul-easing: cubic-bezier(0.32, 0.72, 0, 1);
  --vaul-duration: 500ms;
  --vaul-inset: 0px;
}

body {
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: var(--default-transition-timing-function);
}
